configs/config/iterm2/AppSupport
configs/config/git-ai/config.ini
configs/ssh/id_*
configs/config/github-copilot/apps.json

atom/packages
atom/dev/packages
atom/storage
atom/compile-cache
atom/blob-store
atom/.apm
atom/.node-gyp
atom/recovery/
atom/.atom-socket-secret*
zsh/secret
Brewfile.lock.json
zsh/
Gemfile.lock
configs/config/fabric/
configs/config/.DS_Store
configs/config/gh/hosts.yml
configs/rustup/toolchains/
configs/rustup/downloads/
configs/rustup/tmp/
configs/rustup/update-hashes/
inst/link/
claude/mcp.json
configs/rustup/settings.toml
configs/config/nvim/plugged/
configs/config/nvim/pack/
