require:
  - rubocop-rspec

AllCops:
  TargetRubyVersion: 3.0

Layout/LineLength:
   Max: 120

RSpec/NestedGroups:
  Exclude:
    - spec/**/*

RSpec/ExampleLength:
  Exclude:
    - spec/**/*

RSpec/ContextWording:
  Prefixes:
    - when
    - with
    - without
    - if
    - unless
    - for
    - given

Metrics/MethodLength:
  Enabled: false

Metrics/BlockLength:
  Enabled: false
Metrics/AbcSize:
  Max: 40

RSpec:
  Enabled: true

Style/Documentation:
  Enabled: false

Style/IfUnlessModifier:
  Enabled: False

Layout/EmptyLinesAroundAttributeAccessor:
  Enabled: true

Layout/SpaceAroundMethodCallOperator:
  Enabled: true

Lint/RaiseException:
  Enabled: true

Lint/StructNewOverride:
  Enabled: true

Style/ExponentialNotation:
  Enabled: true

Style/HashEachMethods:
  Enabled: true

Style/HashTransformKeys:
  Enabled: true

Style/HashTransformValues:
  Enabled: true

Style/SlicingWithRange:
  Enabled: true

Style/MultilineBlockChain:
  Enabled: false

Gemspec/RequiredRubyVersion:
  Enabled: false

Layout/FirstHashElementIndentation:
  EnforcedStyle: consistent

Lint/AmbiguousBlockAssociation:
  Enabled: false

Style/StringLiterals:
  EnforcedStyle: double_quotes
