"*":
  "atom-beautify":
    general:
      _analyticsUserId: "0370d20a-c21a-4c09-88a9-c97bbcbd5f75"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmdArgs: "-R --exclude=vendor --exclude=.bundle --languages=ruby --tag-relative --sort=yes --exclude=.git --exclude=log --exclude=~/.gitignore"
    disableComplete: true
  "atom-github-notifications":
    personalAccessToken: "a4e4d01fc22f102623a152c09eb746fc8d092d8e"
  "atom-haskell":
    hasAddedConfiguration: true
  "atom-package-deps":
    ignored: [
      "atom-haskell"
      "linter-shellcheck"
      "linter"
    ]
  "autocomplete-plus":
    maxVisibleSuggestions: 5
    minimumWordLength: 2
  "autocomplete-ruby":
    port: 65535
    suggestionPriority: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    customFileTypes:
      "source.ruby": [
        "eye"
      ]
    debugLSP: true
    disabledPackages: [
      "symbols-view"
      "term"
      "language-gfm"
      "dev-live-reload"
      "vim-surround"
      "linter-swiftlint"
      "linter-eslint"
      "linter-python"
      "javascript-snippets"
      "rails-transporter"
      "relative-numbers"
      "tool-bar"
      "wakatime"
      "atom-haskell"
      "gist-it"
      "ide-haskell"
      "linter-lua"
      "linter-clang"
      "linter-toml"
      "tree-ignore"
      "rails-open"
      "tab-smart-sort"
      "busy-signal"
      "intentions"
      "packages-txt"
      "language-unix-shell"
      "navigation-history"
      "autocomplete-ruby"
      "rubocop-auto-correct"
      "github"
      "linter-yaml"
      "atom-github-notifications"
      "Hydrogen"
      "zentabs"
      "goto-last-edit"
      "linter-jsonlint"
      "linter-rubocop"
      "rails-snippets"
      "rails-transporter-plus"
      "language-ruby-on-rails"
      "linter"
      "platformio-ide-terminal"
    ]
    fileSystemWatcher: "experimental"
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".build"
      ".DS_Store"
      "node_modules"
      "tmp"
      "public"
      "config/locales"
      "vendor/assets"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
    titleBar: "hidden"
    uriHandlerRegistration: "always"
  "cursor-history":
    excludeClosedBuffer: true
    keepSingleEntryPerBuffer: true
    openInPendingState: true
  editor:
    autoIndent: true
    fontSize: 20
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
    undoGroupingInterval: 100
  "exception-reporting":
    userId: "c2ba2814-cdf6-4971-9292-97b8cfa1f469"
  "file-icons":
    revealTreeView: false
  "fuzzy-finder":
    ignoredNames: [
      ".keep"
      "*.jpg"
      ".buildpacks"
    ]
    scoringSystem: "alternate"
    searchAllPanes: true
  "git-blame":
    columnWidth: 325
  "goto-definition":
    contextMenuDisplayAtFirst: false
    performanceMode: true
  "highlight-line": {}
  "ide-ruby": {}
  "linter-python":
    enableDebug: true
    executablePath: "pylint"
    lintTrigger: "File modified"
  "linter-reek":
    executablePath: "/Users/linusoleander/.rbenv/shims/reek"
  "linter-rubocop":
    command: "/Users/linusoleander/.rbenv/shims/rubocop"
    disableWhenNoConfigFile: true
    useBundler: true
  "linter-shellcheck": {}
  "linter-ui-default":
    panelHeight: 196
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#626262"
        blue: "#d1d1fe"
        green: "#ff90fe"
        red: "#f3f9f6"
        yellow: "#cbad5e"
      zBright:
        brightBlue: "#c2e3ff"
        brightCyan: "#e6e6ff"
        brightGreen: "#d6fcba"
        brightMagenta: "#ffb2fe"
        brightRed: "#ffc4be"
        brightWhite: "#e6f0f0"
        brightYellow: "#fffed5"
    core:
      shell: "/usr/local/bin/zsh"
    iconColors:
      blue: "#3c9bec"
      cyan: "#b4fb73"
      green: "#b4fb73"
      magenta: "#ff90fe"
      red: "#ff8373"
      yellow: "#cbad5e"
    style:
      defaultPanelHeight: "200px"
      fontFamily: "Monaco"
      fontSize: "18"
    toggles:
      cursorBlink: false
      selectToCopy: false
  "rails-transporter-plus": {}
  "rubocop-auto-correct":
    notification: false
    rubocopCommandPath: "/Users/linusoleander/.rbenv/shims/rubocop"
  "tab-smart-sort":
    placeSpecialTabsOnRight: true
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  teletype:
    askBeforeJoiningPortalViaExternalApp: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  "vim-mode-plus":
    autoDisableInputMethodWhenLeavingInsertMode: true
    blackholeRegisteredOperators: [
      "change*"
      "substitute*"
    ]
    clearMultipleCursorsOnEscapeInsertMode: true
    hideCommandsFromCommandPalette: true
    ignoreCaseForFind: true
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapCCToChangeInnerSmartWord: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapSemicolonToInnerAnyPairInVisualMode: true
    useClipboardAsDefaultRegister: false
    useSmartcaseForFind: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
".attribute-values.js.jsx.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 100
".babel.regexp.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 100
".diff.source":
  editor:
    normalizeIndentOnPaste: "true"
".js.jsx.react.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 100
".js.jsx.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 100
".js.regexp.replacement.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".js.regexp.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".js.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".js.source.subtlegradient":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".languagebabel.ttlextension":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".md.text":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".plain.text":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".source.ts":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".source.tsx":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
