"*":
  "atom-haskell":
    hasAddedConfiguration: true
  "atom-package-deps":
    ignored: [
      "atom-haskell"
    ]
  "autocomplete-plus":
    maxVisibleSuggestions: 5
    minimumWordLength: 2
  core:
    audioBeep: false
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    customFileTypes:
      "source.ruby": [
        "eye"
      ]
    disabledPackages: [
      "symbols-view"
      "term"
      "language-gfm"
      "dev-live-reload"
      "vim-surround"
      "linter-swiftlint"
      "linter-eslint"
      "linter-python"
      "ide-python"
      "atom-beautify"
      "javascript-snippets"
      "linter-jsonlint"
      "merge-conflicts"
      "rails-transporter"
      "relative-numbers"
      "tool-bar"
      "wakatime"
      "status-bar"
      "atom-haskell"
      "gist-it"
      "ide-haskell"
      "linter-lua"
      "linter-clang"
      "linter-shellcheck"
      "linter-toml"
      "tree-ignore"
      "rails-open"
      "tab-smart-sort"
      "linter-rubocop"
      "rubocop-auto-correct"
    ]
    fileSystemWatcher: "atom"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".build"
      ".DS_Store"
      "node_modules"
      "tmp"
      "public"
      "app/assets"
      "config/locales"
      "vendor/assets"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
    titleBar: "hidden"
    uriHandlerRegistration: "always"
  editor:
    autoIndent: true
    fontSize: 15
    preferredLineLength: 120
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    undoGroupingInterval: 200
  "exception-reporting":
    userId: "c2ba2814-cdf6-4971-9292-97b8cfa1f469"
  "file-icons":
    revealTreeView: false
  "fuzzy-finder":
    ignoredNames: [
      ".keep"
      "*.yml"
      "*.json"
      "*.jpg"
      ".buildpacks"
    ]
    searchAllPanes: true
    useRipGrep: false
  "highlight-line": {}
  "linter-python":
    enableDebug: true
    executablePath: "pylint"
    lintTrigger: "File modified"
  "linter-rubocop":
    command: "/Users/oleander/.rbenv/shims/rubocop"
  "linter-ui-default":
    panelHeight: 69
  "rails-transporter-plus": {}
  "rubocop-auto-correct":
    notification: false
    onlyFixesNotification: false
    rubocopCommandPath: "/Users/oleander/.rbenv/shims/rubocop"
  "tab-smart-sort":
    placeSpecialTabsOnRight: true
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode-plus":
    autoDisableInputMethodWhenLeavingInsertMode: true
    blackholeRegisteredOperators: [
      "change*"
      "substitute*"
    ]
    clearMultipleCursorsOnEscapeInsertMode: true
    hideCommandsFromCommandPalette: true
    ignoreCaseForFind: true
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapCCToChangeInnerSmartWord: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapSemicolonToInnerAnyPairInVisualMode: true
    useClipboardAsDefaultRegister: false
    useSmartcaseForFind: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
".attribute-values.js.jsx.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 100
".babel.regexp.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 100
".diff.source":
  editor:
    normalizeIndentOnPaste: "true"
".js.jsx.react.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 100
".js.jsx.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 100
".js.regexp.replacement.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".js.regexp.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".js.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".js.source.subtlegradient":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".languagebabel.ttlextension":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".md.text":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".plain.text":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".source.ts":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
".source.tsx":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 100
