packages: [
  "highlight-line"
  "highlight-selected"
  "language-tmux"
  "package-sync"
  "set-syntax"
  "toggle-quotes"
  "tree-ignore"
  "vim-mode"
  "vim-mode-plus"
  "vim-mode-visual-block"
  "vim-surround"
]
