packages: [
  "atom-beautify"
  "atom-ctags"
  "atom-easy-jsdoc"
  "atom-keyboard-macros-vim"
  "atom-material-syntax"
  "auto-detect-indentation"
  "auto-indent"
  "ctags-status"
  "cursor-history"
  "dev"
  "docs-snippets"
  "es6-javascript"
  "ex-mode"
  "file-icons"
  "file-type-icons"
  "flow-ide"
  "goto-last-edit"
  "haskell-grammar"
  "highlight-line"
  "highlight-selected"
  "javascript-snippets"
  "language-applescript"
  "language-babel"
  "language-haskell"
  "language-ini"
  "language-lua"
  "language-markdown"
  "language-ocaml"
  "language-swift"
  "language-thrift"
  "language-tmux"
  "language-viml"
  "lazy-motion"
  "linter"
  "linter-eslint"
  "linter-flow"
  "markdown-writer"
  "merge-conflicts"
  "nvim-mode"
  "package-sync"
  "plist-converter"
  "set-syntax"
  "sort-lines"
  "symbol-gen"
  "tidy-markdown"
  "toggle-quotes"
  "tool-bar"
  "tree-ignore"
  "vim-mode"
  "vim-mode-plus-ex-mode"
  "vim-mode-visual-block"
  "vim-surround"
]
