packages: [
  "atom-beautify"
  "atom-keyboard-macros-vim"
  "atom-material-syntax"
  "atom-material-ui"
  "dev"
  "ex-mode"
  "file-icons"
  "file-type-icons"
  "goto-last-edit"
  "highlight-line"
  "highlight-selected"
  "language-applescript"
  "language-haskell"
  "language-markdown"
  "language-swift"
  "language-tmux"
  "lazy-motion"
  "markdown-writer"
  "nvim-mode"
  "package-sync"
  "plist-converter"
  "set-syntax"
  "tidy-markdown"
  "toggle-quotes"
  "tree-ignore"
  "vim-mode-plus-ex-mode"
  "vim-mode-visual-block"
  "vim-surround"
  "Zen"
]
