# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

# Overrides: https://github.com/hharnisc/atom-es6-javascript/tree/master/snippets
".source.swift":
  "interpolation":
    prefix: "#"
    body: """
      \\\\(${0})
    """
".source.python":
  "logger":
    prefix: "l"
    body: """
      log.info(${0})
    """
  "exit":
    prefix: "e"
    body: """
      exit(0)
    """
".source.js":
  "anonymous function":
    prefix: "f"
    body: """
    function(${1:arguments}) {
      ${0}
    }
    """
  "console.log":
    prefix: 'con'
    body: 'console.log("${1:title}", ${2})'
  "console.log.no":
    prefix: 'co'
    body: 'console.log(${1})'
  "Promise":
    prefix: "p",
    body: """
    new Promise(function(resolve, reject) {
    \t${0}
    });
    """
  "Return Promise":
    prefix: "rp",
    body: """
    return new Promise(function(resolve, reject) {
    \t${0}
    });
    """
  "Promise.then":
    prefix: ".t"
    body: """
    .then(function(${1:value}) {
    \t${0}
    });
    """
  "Promise.catch":
    prefix: ".c"
    body: """
    .catch(function(error) {
    \t${1:console.info(error);}
    });
    """
# "*":
#   "frac":
#     prefix: 'frac'
#     body: '\\\\frac{${1}}{${2}}${3}'
#   "sqrt":
#     prefix: 'sqrt'
#     body: '\\\\sqrt{${1}}${2}'
#   "latex":
#     prefix: 'lx'
#     body: '$${1}$${2}'
#   "dot":
#     prefix: '.'
#     body: ' \\\\cdot ${1}'
#   "text":
#     prefix: 'text'
#     body: '\\\\text{${1}}${2}'
#   "pow":
#     prefix: '^'
#     body: '^{${1}}${2}'
#   "bold":
#     prefix: 'bold'
#     body: '**${1}** ${2}'
#   "kvant":
#     prefix: 'kvant'
#     body: """
#     *Kvantitet I:* ${1}
#
#     *Kvantitet II:* ${2}
#     """
  # "new":
  #   prefix: '-'
  #   body: """
  #
  #   --
  #
  #
  #   """
